.guess-list-container {
    margin-top: 20px;
}

.guess-list-container h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.guess-table {
    width: 100%;
    border-collapse: collapse;
}

.guess-table th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}


.wrong {
    background-color: lightcoral;
}

.lower {
    background-color: lightcoral;
}
.higher {
    background-color: lightcoral;
}

.partial {
    background-color: lightgoldenrodyellow;
}

.correct {
    background-color: lightgreen;
}