.win-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.win-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.pokemon-table {
    width: 50%;
    margin-top: 1rem;
    border-collapse: collapse;
}

.pokemon-info {
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    text-align: left;
}

.pokemon-info p {
    margin: 0.5rem 0;
}

.pokemon-image {
    padding-left: 10px;
}

.pokemon-image-img {
    width: 100%;
    border-radius: 4px;
}

.win-button:hover {
    background-color: #e0f0ff;
}

@media screen and (max-width: 800px) {
    .pokemon-table{
        width: 100%;
    }
    .pokemon-table td{
        width: 50%;
    }
    .pokemon-table p{
        font-size: 1vh;
        font-weight: bold;
    }
    .pokemon-table img{
        width:100%
    }
}